@import './../../theme-variables.scss';

select::-ms-expand {
  display: none;
}

.FontSelector {
  position: relative;
  display: flex;
  width: 120px;
  height: 24px;
  overflow: hidden;
  margin-right: 26px;
}

.FontSelector::after {
  content: url(../../assets/images/icon-arrow-down.svg);
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.25s all ease;
  pointer-events: none;
}
.FontSelector:hover::after {
  color: #f39c12;
}

select {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  flex: 1;
  @include themify($themes) {
    color: themed('textColor');
  }
  background-image: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "Inter";
  background-color: transparent;
}

select option:checked {
    background-color: #A445ED;
}